In [1]:
import pandas as pd

In [2]:
labeledTrain = pd.read_csv("/data4T/share/jiangxinyang848/textClassifier/data/preProcess/labeledTrain.csv")

In [3]:
labeledTrain.head(5)

                                              review  sentiment  rate
0  with all this stuff going down at the moment w...          1     8
1  the classic war of the worlds by timothy hines...          1     9
2  the film starts with a manager nicholas bell g...          0     3
3  it must be assumed that those who praised this...          0     4
4  superbly trashy and wondrously unpretentious 8...          1     8

In [8]:
total = len(labeledTrain)
rate = 0.8
splitIndex = int(total * rate)

In [9]:
trainData = labeledTrain[:splitIndex]
devData = labeledTrain[splitIndex:]

In [12]:
trainData.to_csv("data/trainData.csv", header=False, index=False)
devData.to_csv("data/devData.csv", header=False,index=False)